{
  "extends": [
    "./node_modules/kcd-scripts/eslint.js",
    "plugin:import/typescript"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "tsconfig.json"
  },
  "overrides": [
    {
      "files": ["test/**/*"],
      "rules": {
        "max-lines-per-function": "off",
        // See https://github.com/webdriverio/webdriverio/issues/14552
        "@typescript-eslint/no-floating-promises": "off"
      },
      "globals": {
        "browser": "readonly"
      },
      "parserOptions": {
        "project": "test/tsconfig.json"
      }
    }
  ]
}
